.header{
    height: 3.75rem;
    border-radius: 0.5rem;
    padding: 0 12.5rem;
    .name{
        font-size: 1rem;
        margin: 0;
        font-weight: 400;
        .img{
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    .navbar{
        .nav-item{
            font-size: .875rem;
            color: #ddd !important;
        }
        .nav-item:hover{
            color: var(--main) !important;
        }
        .active{
            color: var(--main) !important;
        }
    }
}