<!DOCTYPE html>
<html lang="en">
<body>
    <div class="footer d-flex a-center j-center">
        <div class="d-flex a-center j-center flex-column">
            <img height="80" width="80"
                src="https://official-document.oss-cn-hangzhou.aliyuncs.com/qrcode_for_gh_4c360c5cb61a_258.jpg"
                alt="微信公众号">
            <span class="footer-qy mt-2 line-h main-color">公众号：程序员印记</span>
        </div>
        <div class="d-flex a-center flex-column px-3">
            <div class="d-flex a-center">
                <a type='primary' class="box btnn" target='_blank' href='https://blog.gaojianghua.cn'>博客社区</a>
                <div class="px-3"></div>
                <a type='primary' class="box btnn" target='_blank' href='https://docs.gaojianghua.cn'>作者文档</a>
                <div class="px-3"></div>
                <a type='primary' class="box btnn" target='_blank' href='https://wolffy.gaojianghua.cn'>Wolffy印记</a>
            </div>
            <div class="cur text mt-2">邮箱：g598670138@163.com 个人微信号：woshigaojianghua</div>
            <a target='_blank' rel='noreferrer' href='https://beian.miit.gov.cn' class="cur text mt-2">Copyright ©
                2022-2023 JiangHua Gao 版权所有
                浙ICP备2022001576号</a>
        </div>
        <div class="d-flex a-center j-center flex-column">
            <img height="80" width="80"
                src="https://official-document.oss-cn-hangzhou.aliyuncs.com/IMG_7086(20230730-131307).JPG" alt="技术交流群">
            <span class="footer-qy mt-2 line-h main-color">技术交流群：指间运动</span>
        </div>
    </div>
</body>

</html>