<!DOCTYPE html>
<html lang="en">

<body>
    <div class="header d-flex a-center j-sb">
        <h1 class="name">
            <a href="/index.html" class="main-color d-flex a-center">
                <img class="img" src="https://website-gao.oss-cn-hangzhou.aliyuncs.com/Code-Supreme.ico" alt="logo">
                <span class="ml-2">
                    码帝
                </span>
            </a>
        </h1>
        <div class="navbar">
            <a href="/index.html" class="nav-item ml-2">首页</a>
            <a href="/about.html" class="nav-item ml-2">关于我们</a>
            <a href="/contact.html" class="nav-item ml-2">联系我们</a>
        </div>
    </div>
    <script src="/layout/header.js"></script>
</body>

</html>