*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.h5 {
    display: none;
}

.pc {
    display: block;
}

.pages {
    height: calc(100vh - 0.75rem - 10rem);

    .content {
        width: 72rem;
        border-radius: .625rem;
    }
}